@use "_variables" as *;

body {
    background-color: #1D3640;
    font: $primary-font;
    color: $primary-color;
}

header {
    text-align: center;
}

main {
    display: flex;
    // removes main from default document flow.
    position: absolute;
    // push down from the top 50% of the screen size
    top: 50%;
    // push from the left 50% of the screen size
    left: 50%;
    // move to center
    transform: translate(-50%, -50%);
}

article {
    background-color: $article-color;
    width: 47vw;
    // Setup for aside tag
    margin: 0;

    img {
        width: 100%;
    }

    h2 {
        background-color: black;
        color: $header-color;
        text-align: center;
        margin-bottom: 0;
        padding: .3em;
    }

    p {
        // em is font size
        padding: .5em;
    }
}

// Setup for extend example
aside {
    background-color: #F2B263;
    color: $aside-color;
    width: 500px;
    padding: 5px;

    p, h3 {
        width: 50%;
    }
}

footer {
    @extend aside;
    text-align: center;
    position: fixed;
    width: 100%;
    // center
    left: 0;
    bottom: 0;
    
    a {
        text-decoration: none;
        color: $article-color;
    }
}